<?xml version="1.0" encoding="ASCII"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TakeoutService</display-name>
  <display-name>TakeoutService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>cn.itcast.tackout.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerListServlet</display-name>
    <servlet-name>SellerListServlet</servlet-name>
    <servlet-class>cn.itcast.tackout.servlet.SellerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerListServlet</servlet-name>
    <url-pattern>/SellerList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>cn.itcast.tackout.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BusinessServlet</display-name>
    <servlet-name>BusinessServlet</servlet-name>
    <servlet-class>cn.itcast.tackout.servlet.BusinessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessServlet</servlet-name>
    <url-pattern>/business</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.itcast.tackout.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
</web-app>